<aside id="menu" class="open blue-grey darken-1" style="background-image:url({{@blog.cover_image}});">
	<div class="bg-container">
		<div class="profile">
			<div class="avatar">
				<a href="#open"><img src="{{@blog.logo}}" class="z-depth-4"></a>
				<span>{{@blog.title}}</span>
				<p>{{@blog.description}}</p>
			</div>
			<div class="short-line"></div>
			{{navigation}}
			<div class="short-line short"></div>
			<ul class="link">
				<li><a href="https://weibo.com/1849853713" target="_blank"><i class="fa fa-weibo"></i></a></li>
				<li><a href="https://github.com/LuciferJun1227"><i class="fa fa-github"></i></a></li>
				<li><a href="mailto:lu19730@hotmail.com"><i class="fa fa-envelope"></i></a></li>
			</ul>
		</div>
	</div>
</aside>