<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="https://oc8prtequ.qnssl.com/images/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>{{meta_title}}</title>
	{{ghost_head}}	   
	<link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
	<link rel="stylesheet" href="{{asset "css/app.css"}}">
</head>
<body>
	{{{body}}}
<script src="{{asset "js/zepto.min.js"}}"></script>
<script src="{{asset "js/highlight.min.js"}}"></script>
<script src="{{asset "js/skywalker.js"}}"></script>
</body>
</html>
