{{!< default}}
<div class="row page pages">
    <div class="slidenav">
        {{> aside}}
        <div class="closeslide"></div>
    </div>
    <main>
        <nav>
            <header class="nav-wrapper blue-grey">
                <div>
                    <a id="show-slide-nav"><i class="fa fa-bars fa-lg"></i></a>
                    <p>
                        <span class="header-title">{{@blog.title}}</span>
                    </p>
                    <span></span>
                </div>
            </header>
        </nav>
        <div class="contents content-in">
            {{#post}}
            <article>
                <header>
                    <div>
                        {{#if feature_image}}
                        <img alt="{{title}}" id="post-image" src="{{img_url}}">
                            {{/if}}
                            <h4 id="post-title">
                                {{title}}
                            </h4>
                        </img>
                    </div>
                </header>
                <div id="post-content markdown-body">
                    {{content}}
                </div>
            </article>
            <div style="margin-top:50px;">
                {{> footer}}
            </div>
        </div>

    </main>
</div>
{{/post}}
