{{!< default}}
<div class="row page post">
	<div class="slidenav">
		<aside id="menu" class="blue-grey darken-1" style="background-image:url({{@blog.cover_image}});">
			<div class="bg-container">
				<div class="profile">
					<div class="avatar">
						<a href="#open"><img src="{{@blog.logo}}" class="z-depth-4"></a>
						<span>{{@blog.title}}</span>
						<p>{{@blog.description}}</p>
					</div>
					<div class="short-line"></div>
					{{navigation}}
					<div class="short-line short"></div>
					{{> link}}
				</div>
			</div>
		</aside>
		<div class="closeslide"></div>
	</div>
	
	<main> 
		{{#post}}
		<nav>
			<header class="nav-wrapper blue-grey">
				<div>
					<a id="show-slide-nav"><i class="fa fa-bars fa-lg"></i></a>
					<p>
						<span class="header-title">{{@blog.title}}</span>
						<span class="post-title">{{title}}</span>
					</p>
					<span></span>
				</div>
			</header>
		</nav>
		
		<div class="contents content-in z-depth-2">
			
			<article class="posts-content markdown-body">
				<p class="posts-title">{{title}}</p>
				<span class="post-time"><i class="fa fa-calendar"></i> {{date format="YYYY-MM-DD HH:mm:ss"}}</span>
				<div class="post-html">
					{{content}}
				</div>
			</article>
		</div>
		<div class="row more-article content-in">
			{{#prev_post}}
			<div class="col s6" style="padding-left:0;">
		        <div class="card">
			    <a href="{{url}}" class="readmore"></a>
		            <div class="card-image card-pre">
			    
				{{#if feature_image}}
				<img src="{{feature_image}}">
				{{else}}
				<img src="">
				{{/if}}		                    
				<span class="card-title">{{title}}</span>
		            </div>
		            <div class="card-content"><p>{{excerpt}}</p></div>
		            <div class="card-action"><a href="{{url}}">前一篇</a></div>
		        </div>
		    </div>
			{{/prev_post}}

			{{#next_post}}
			<div class="col s6" style="padding-right:0;">
		        <div class="card">
			    <a href="{{url}}" class="readmore"></a>
		            <div class="card-image card-next">
				{{#if feature_image}}
				<img src="{{feature_image}}">
				{{else}}
				<img src="">
				{{/if}}		                    
				<span class="card-title">{{title}}</span>
		            </div>
		            <div class="card-content"><p>{{excerpt}}</p></div>
		            <div class="card-action" style="text-align: right;"><a href="{{url}}">后一篇</a></div>
		        </div>
		    </div>	
			{{/next_post}}

			{{> comments}}
		</div>
		{{/post}} 
		<div class="content-in" style="margin-top: 50px;">
			{{> footer}} 
		</div>
	</main>
</div>
